{% extends 'designs/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<style>
    h2, h3,.mr-2, .mx-2{
      color: #4e73df;
      text-align: center !important;
      padding-bottom: 20px;
    }
    .auth-wrapper.full-height .auth-panel{
      background-color: #fff;
    }
    .reset-panel {
      background-color: #F3F3F3; 
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0px 8px 8px 0px;
    }

</style>
{% load static %}
<div id="content" class="container-fluid auth-wrapper full-height" >
  <div class="row flex-1">
    <div class="col-lg-4 col-md-12 justify-content-center auth-panel">      
      <div class="">
        <div class="">
            <h3 class="bold">パスワードを忘れた場合</h3>
            <p>ご登録いただいたメールアドレスを入力してください。
              メールアドレス宛に、パスワード変更ページのURLが記載されたメールを送信します。</p>
        </div>
        <form method="post">
          {% csrf_token %}          
          {{ form|crispy }}
          <div class="">
            <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans '送信' %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}