{% extends 'designs/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<style>
    .auth-wrapper.full-height .auth-panel{
      background-color: #fff;
    }
    .reset-panel {
      background-color: #F3F3F3; 
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0px 8px 8px 0px;
    }
    .auth-wrapper .auth-panel .keyscreen{
      width: 330px; 
      height: auto;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
	.form-group{
		margin-bottom: .5rem;
	}
</style>
{% load static %}
<div id="content" class="container-fluid auth-wrapper full-height" >
  <div class="row flex-1">
    
    <div class="col-lg-3 col-md-4 justify-content-center auth-panel version-colorful-alpha">
      
      <div class="reset-panel">
        <div class="">
            <h4 class="bold d-inline mr-2">パスワード再設定</h4>
            <p>安全に保管</p>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class=""></div>
            <button class="btn btn-primary btn-user btn-block" type="submit">新しいパスワードの保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#div_id_new_password1").find('input').attr('placeholder', 'New Password');
		$("#div_id_new_password1").find('input').focus();
		$("#div_id_new_password2").find('input').attr('placeholder', 'Confirm New Password');
	})
</script>
{% endblock content %}
