{% extends 'designs/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<style>
    
    .auth-wrapper.full-height .auth-panel{
      background-color: #fff;
    }
    .reset-panel {
      background-color: #F3F3F3; 
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0px 8px 8px 0px;
    }
    .auth-wrapper .auth-panel .keyscreen{
      width: 330px; 
      height: auto;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

</style>
{% load static %}
<div id="content" class="container-fluid auth-wrapper full-height" >
  <div class="row flex-1">
    
    <div class="col-lg-4 col-md-12 justify-content-center auth-panel">
      
      <div class="reset-panel">
        <div class="">
            <h4 class="bold d-inline mr-2">メール送信完了!</h4>
			    <p>パスワード再設定用のURLをご入力のメールアドレスに送信しました。<br>
            記載された内容に従って、パスワードの再設定を行なってください。</p>
          <p>メールが届かない場合は以下の場合が考えられます</p>
          <p>・迷惑メールフォルダに入ってしまっている場合</p>
          <p>・メールアドレスが間違っている場合</p>
          <p>・メールアドレスが登録されていない場合</p>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}