@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Helvetica|sans-serif');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;900&display=swap');
html, body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; 
  color: #565656;
}
h1, h2, h3, h4 {
  font-family: 'Gothic A1', 'Helvetica', 'sans-serif';
  margin-bottom: 0;
}
.headercontainer {
  width: 100%;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
}
footer{
  background-color: #333333;
  color: #fff;
}
.footer{
  padding: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  text-align: center;
}
.footer .right{
  text-align: right;
}
.footer .left{
  text-align: left;
}
.footer .row{  
  border-bottom: #fff 1px;
  border-bottom-style: dotted;
}
.footer-content-center{
  margin: 0 auto;
}
.justify-content-center{
  padding: 0 2rem 2rem 2rem;
}
.childcontainer {
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
  overflow: auto;
}
@media screen and (min-width: 576px) {
  .jumbotron {
    padding: 3rem 2rem;
  }
}
.form-group {
  /*margin-bottom: 1.5rem;*/
}

@media (min-width: 768px) {
  .projectspane {
    /*border-left: 1px solid #aaa;*/
  }
}
#ui-datepicker-div {
  z-index: 9999999 !important;
}

#navbarToggler {
  margin: 0 16px;
  font-size: 1.2rem;
}

.dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid #B1B1B1;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 0 #B1B1B1;
}

.design-img {
  margin: 16px;
  margin-top: 31px;
  border-radius: 0.25rem;
}

.desgin-asset {
  display: flex;
  justify-content: center;
}

div.modal-body form {
  margin: 0 auto;
}
.card {
  margin-top: 3rem;
  box-shadow: #bbb 6px 6px 6px;
  padding: 0;
}

.container.main {
  margin-top: 4rem;
}

.formContainer {
  margin: auto 0;
}

#content {
  padding: 1rem 1rem;
}
/* modal-dialog */
.modal-dialog {
  max-width: 600px;
}
.modal-content {
  border-color: #B1B1B1;
  border-radius: 10px;
  font-family: 'Gothic A1', 'Helvetica', 'sans-serif';
  color: #565656;
}
.modal-header .modal-title{
  font-weight: 800;
  font-size: 26px;
}
.modal-body {
  font-weight: 500;
  font-size: 19px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 400px;
  /* Set a default minimum width */
  max-width: 400px;
  margin-left: -200px;
  /* Divide value of min-width by 2 */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1051;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
a.lightbox img {
  height: 160px;
  width: auto;
  margin: 16px;
}

div.imageset {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: auto;
}

th, td.nowrap {
  white-space: nowrap;
}

.ui-resizable-helper {
  border: 1px dotted gray;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  #assetsModal .modal-dialog {
    max-width: 50vw;
  }
}

.clicked_var {
  border: 4px solid green;
}

/*Common Start*/
/*scrollbar start*/
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

/*scrollbar end*/
/*loading start*/
.hidden-loading {
  visibility: hidden;
}
.hidden-loading.show {
  visibility: visible;
}

.loading-progress .loading-content {
  background: -webkit-linear-gradient(left, rgba(43, 51, 62, 0.1) 8%, rgba(43, 51, 62, 0.4) 18%, rgba(43, 51, 62, 0.1) 33%);
  background: -o-linear-gradient(left, rgba(43, 51, 62, 0.1) 8%, rgba(43, 51, 62, 0.4) 18%, rgba(43, 51, 62, 0.1) 33%);
  background: linear-gradient(to right, rgba(43, 51, 62, 0.1) 8%, rgba(43, 51, 62, 0.4) 18%, rgba(43, 51, 62, 0.1) 33%);
  background-size: 1200px 104px;
  color: transparent !important;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: progress;
  animation: placeholder .5s linear infinite forwards;
}
.loading-progress .loading-content img, .loading-progress .loading-content input, .loading-progress .loading-content button {
  opacity: 0;
}

@keyframes placeholder {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
/*loading end*/
/*main content start*/
#content {
  /*padding: 2rem;*/
}
#content.container-fluid {
  max-width: 100%;
  margin: 0px;
}
#content.container-fluid.full-width {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/*main content end*/

.dropdown-menu {
  max-height: calc(100vh - 220px);
  overflow: auto;
}

@supports (backdrop-filter: blur(4px)) {
  .modal-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.var_val:focus {
  outline: 0;
}

.table td, .table th {
  height: 35px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}

.switch-status.false[data-checkbox=false],
.switch-status.true[data-checkbox=true] {
  color: #42a69f;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-bottom: 0;
  /* The slider */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #94C9C3;
}
.switch input:checked + .slider:before {
  background-color: #16A69F;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D8D8D8;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -1px;
  bottom: -1px;
  background-color: #B1B1B1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider.round {
  border-radius: 12.5px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
.switch.active .slider:before {
  background-color: #16A69F;
}
.jqBullseye {
  z-index: 999;
}
.dropdown-item {
  font-weight: 300;
  color: #00342E;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #1DEFB5;
  font-weight: 700;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1DEFB5;
  color: #00342E;
  font-weight: 700;
}

.round-image {
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 2px 1px #c7c7c7;
  border-radius: 100%;
  overflow: hidden;
}
.round-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: inherit;
}
.log-image {
  width: 155px;
  height: 35px;
  overflow: hidden;
}
.log-image img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.text-center{
  padding: 10px 0px;
}
table thead th, table tbody td{
  padding: 7px 15px !important;
}
@media screen and (max-width: 1700px) {
  .switch {
    width: 48.6979166667px;
    height: 22.1354166667px;
    /* The slider */
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26.5625px);
    -ms-transform: translateX(26.5625px);
    transform: translateX(26.5625px);
  }
  .switch .slider:before {
    height: 24.7916666667px;
    width: 24.7916666667px;
  }
}
@media screen and (max-width: 1600px) {
  .switch {
    width: 45.8333333333px;
    height: 20.8333333333px;
    /* The slider */
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  .switch .slider:before {
    height: 23.3333333333px;
    width: 23.3333333333px;
  }
}
@media screen and (max-width: 1440px) {
  .switch {
    width: 41.25px;
    height: 18.75px;
    /* The slider */
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(22.5px);
    -ms-transform: translateX(22.5px);
    transform: translateX(22.5px);
  }
  .switch .slider:before {
    height: 21px;
    width: 21px;
  }
}
@media screen and (max-width: 1366px) {
  .switch {
    width: 39.1302083333px;
    height: 17.7864583333px;
    /* The slider */
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(21.34375px);
    -ms-transform: translateX(21.34375px);
    transform: translateX(21.34375px);
  }
  .switch .slider:before {
    height: 19.9208333333px;
    width: 19.9208333333px;
  }
}
@media screen and (max-width: 1280px) {
  .switch {
    width: 36.6666666667px;
    height: 16.6666666667px;
    /* The slider */
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .switch .slider:before {
    height: 18.6666666667px;
    width: 18.6666666667px;
  }
}
/*Common End*/
/*Nav Start*/
body {
  padding-top: 80px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1023;
}
.navbar.bg-primary {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.sidebar .nav-item .nav-link{
  padding: 10px 20px;
}
.sidebar .nav-item.active .nav-link{
  color: #4e73df;
  background-color: #fff;
}
.navbar.navbar-dark .navbar-nav .nav-link {
  color: rgb(7, 7, 7);
}
.navbar .navbar-brand {
  /*color: #373535;
  font-size: 2.5rem;*/
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar .navbar-brand .logo-image {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  width: 34px;
  height: 34px;
}
.navbar .navbar-brand .logo-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navbar .navbar-brand .logo-text {
  color: #FFFFFF;
  /*font-family: OpenSans;*/
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.24px;
  line-height: 19px;
  text-align: center;
  padding-left: 10px;
  text-transform: uppercase;
}
.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-nav.middle-links .nav-item .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.navbar .navbar-nav.middle-links .nav-item .nav-link.active {
  background-color: #EBF7F5;
  box-shadow: inset -1px 2px 2px 0 rgba(0, 0, 0, 0.5);
  color: #00342E;
  font-weight: 700;
}
.navbar .navbar-nav i.fa {
  font-size: 25px;
}
.navbar .navbar-nav .nav-item .search-form input[type=search] {
  border-radius: 20px;
  padding: 0 15px;
  font-family: 'Gothic A1', 'Helvetica', 'sans-serif';
  height: 35px;
  font-size: 15px;
}

.navbar .navbar-nav .nav-item .dropdown-toggle:after {
  content: none;
}
.navbar .navbar-nav .nav-item .nav-link.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar .navbar-nav .nav-item .nav-link.profile .profile-image {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.navbar .navbar-nav .nav-item .nav-link.profile .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar .navbar-nav .nav-item .nav-link.profile .profile-name {
  color: #4e73df;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.24px;
  padding-left: 10px;
  text-transform: uppercase;
  height: 24px;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .navbar-expand-md .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/*Responsive For Nav Start*/
@media screen and (max-width: 1700px) {
  body {
    padding-top: 70.8333333333px;
  }

  .navbar {
    height: 70.8333333333px;
  }
  .navbar .navbar-brand {
    margin: 0 1rem;
  }
  .navbar .navbar-brand .logo-image {
    width: 30.1041666667px;
    height: 30.1041666667px;
  }
  .navbar .navbar-brand .logo-text {
    font-size: 14.1666666667px;
    letter-spacing: 0.2125px;
    line-height: 16.8229166667px;
    padding-left: 8.8541666667px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-image {
    width: 35.4166666667px;
    height: 35.4166666667px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-name {
    font-size: 14.1666666667px;
    letter-spacing: 0.2125px;
    padding-left: 8.8541666667px;
    height: 21.25px;
  }
  
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 17.7083333333px;
    letter-spacing: 0.265625px;
    line-height: 21.25px;
    padding-right: 26.5625px;
    padding-left: 26.5625px;
    height: 70.8333333333px;
  }
  .navbar .navbar-collapse .navbar-nav i.fa {
    font-size: 22.1354166667px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    border-radius: 17.7083333333px;
    padding: 0 13.28125px;
    height: 30.9895833333px;
    font-size: 13.28125px;
  }
 
}
@media screen and (max-width: 1600px) {
  body {
    padding-top: 66.6666666667px;
  }

  .navbar {
    height: 66.6666666667px;
  }
  .navbar .navbar-brand {
    margin: 0 1rem;
  }
  .navbar .navbar-brand .logo-image {
    width: 28.3333333333px;
    height: 28.3333333333px;
  }
  .navbar .navbar-brand .logo-text {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    line-height: 15.8333333333px;
    padding-left: 8.3333333333px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-image {
    width: 33.3333333333px;
    height: 33.3333333333px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-name {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    padding-left: 8.3333333333px;
    height: 20px;
  }
  
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 16.6666666667px;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 66.6666666667px;
  }
  .navbar .navbar-collapse .navbar-nav i.fa {
    font-size: 20.8333333333px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    border-radius: 16.6666666667px;
    padding: 0 12.5px;
    height: 29.1666666667px;
    font-size: 12.5px;
  }
  
}
@media screen and (max-width: 1440px) {
  body {
    padding-top: 60px;
  }

  .navbar {
    height: 60px;
  }
  .navbar .navbar-brand {
    margin: 0 1rem;
  }
  .navbar .navbar-brand .logo-image {
    width: 25.5px;
    height: 25.5px;
  }
  .navbar .navbar-brand .logo-text {
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 14.25px;
    padding-left: 7.5px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-image {
    width: 30px;
    height: 30px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-name {
    font-size: 12px;
    letter-spacing: 0.18px;
    padding-left: 7.5px;
    height: 18px;
  }
 
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 15px;
    letter-spacing: 0.225px;
    line-height: 18px;
    padding-right: 22.5px;
    padding-left: 22.5px;
    height: 60px;
  }
  .navbar .navbar-collapse .navbar-nav i.fa {
    font-size: 18.75px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    border-radius: 15px;
    padding: 0 11.25px;
    height: 26.25px;
    font-size: 11.25px;
  }
  
}
@media screen and (max-width: 1366px) {
  body {
    padding-top: 56.9166666667px;
  }

  .navbar {
    height: 56.9166666667px;
  }
  .navbar .navbar-brand .logo-image {
    width: 24.1895833333px;
    height: 24.1895833333px;
  }
  .navbar .navbar-brand .logo-text {
    font-size: 11.3833333333px;
    letter-spacing: 0.17075px;
    line-height: 13.5177083333px;
    padding-left: 7.1145833333px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-image {
    width: 28.4583333333px;
    height: 28.4583333333px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-name {
    font-size: 11.3833333333px;
    letter-spacing: 0.17075px;
    padding-left: 7.1145833333px;
    height: 17.075px;
  }

  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 14.2291666667px;
    letter-spacing: 0.2134375px;
    line-height: 17.075px;
    padding-right: 21.34375px;
    padding-left: 21.34375px;
    height: 56.9166666667px;
  }
  .navbar .navbar-collapse .navbar-nav i.fa {
    font-size: 17.7864583333px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    border-radius: 14.2291666667px;
    padding: 0 10.671875px;
    height: 24.9010416667px;
    font-size: 10.671875px;
  }
  
}
@media screen and (max-width: 1280px) {
  body {
    padding-top: 53.3333333333px;
  }

  .navbar {
    height: 53.3333333333px;
  }
  
  .navbar .navbar-brand .logo-image {
    width: 22.6666666667px;
    height: 22.6666666667px;
  }
  .navbar .navbar-brand .logo-text {
    font-size: 10.6666666667px;
    letter-spacing: 0.16px;
    line-height: 12.6666666667px;
    padding-left: 6.6666666667px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-image {
    width: 26.6666666667px;
    height: 26.6666666667px;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item .nav-link.profile .profile-name {
    font-size: 10.6666666667px;
    letter-spacing: 0.16px;
    padding-left: 6.6666666667px;
    height: 16px;
  }
  
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    line-height: 16px;
    padding-right: 20px;
    padding-left: 20px;
    height: 53.3333333333px;
  }
  .navbar .navbar-collapse .navbar-nav i.fa {
    font-size: 16.6666666667px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    border-radius: 13.3333333333px;
    padding: 0 10px;
    height: 23.3333333333px;
    font-size: 10px;
  }
  
}
@media screen and (max-width: 1200px) {
  body {
    padding-top: 50px;
  }

  .navbar {
    height: 50px;
  }
  .navbar .navbar-brand .logo-image {
    width: 21.25px;
    height: 21.25px;
  }
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 12.5px;
    letter-spacing: 0.1875px;
    line-height: 15px;
    padding-right: 18.75px;
    padding-left: 18.75px;
    height: 50px;
  }
  
}
@media screen and (max-width: 1080px) {
  body {
    padding-top: 45px;
  }

  .navbar {
    height: 45px;
  }
 
  .navbar .navbar-brand .logo-image {
    width: 19.125px;
    height: 19.125px;
  }
  .navbar .navbar-collapse .navbar-nav.middle-links .nav-item .nav-link {
    font-size: 11.25px;
    letter-spacing: 0.16875px;
    line-height: 13.5px;
    padding-right: 16.875px;
    padding-left: 16.875px;
    height: 45px;
  }
  
}
@media screen and (max-width: 991px) {
  body {
    padding-top: 56px;
  }

  .navbar {
    height: auto;
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-collapse {
    display: flex !important;
    flex-direction: column;
  }
  .navbar .navbar-collapse.collapse:not(.show) {
    display: none !important;
  }
  .navbar .navbar-collapse .navbar-nav {
    order: 2;
    width: 100%;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar {
    order: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .navbar .navbar-collapse .navbar-nav.profile-toolbar .nav-item {
    width: auto;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .search-form input[type=search] {
    width: 100%;
  }
  
  .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    position: absolute;
  }
}
/*Responsive For Nav End*/
/*Nav End*/
/*Project page start*/
.toolbar {
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
}
.toolbar h2 {
  color: #00342E;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}
.toolbar .filter {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.toolbar .filter .filter-title {
  color: #00342E;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: left;
  padding-right: 10px;
}
.toolbar .filter .filter-dropdown .dropdown-toggle {
  color: #16A69F;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: left;
}
.toolbar .filter .filter-dropdown .dropdown-menu li {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}
.toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}
.toolbar .filter .filter-dropdown .dropdown-menu li a:hover, .toolbar .filter .filter-dropdown .dropdown-menu li span:hover {
  color: #fff;
}
.status {
  color: #00342E;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 2px;
}

.projects-table thead tr th {
  color: #ACACAC;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #B1B1B1;
  border-top: 0;
}
.projects-table thead .project-title {
  font-weight: 700;
}
.projects-table tbody tr td {
  height: 35px;
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.21px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #B1B1B1;
  border-top: 0;
  padding: 2px;
}
.projects-table tbody .project-title {
  font-weight: 600;
}
.projects-table .project-title {
  color: #16A69F;
}
.projects-table .preview {
  color: #16A69F;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.21px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 70px;
}

/*table sortable icon*/
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  content: "" !important;
  font-family: 'Gothic A1', 'Helvetica', 'sans-serif';
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  content: "" !important;
  font-family: 'Gothic A1', 'Helvetica', 'sans-serif';
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0 !important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0 !important;
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1 !important;
}

/*Responsive For Project Start*/
@media screen and (max-width: 1700px) {
  .toolbar h2 {
    font-size: 35.4166666667px;
  }
  .toolbar .filter {
    padding: 0 17.7083333333px;
  }
  .toolbar .filter .filter-title {
    font-size: 17.7083333333px;
    letter-spacing: 0.265625px;
    line-height: 21.25px;
    padding-right: 8.8541666667px;
  }
  .toolbar .filter .filter-dropdown .dropdown-toggle {
    font-size: 17.7083333333px;
    letter-spacing: 0.265625px;
    line-height: 21.25px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li {
    padding: 4.4270833333px 8.8541666667px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
    border-radius: 4.4270833333px;
    font-size: 13px;
  }

  .status {
    border-radius: 4.4270833333px;
  }
  .projects-table thead tr th {
    font-size: 17.7083333333px;
    letter-spacing: 0.265625px;
    line-height: 21.25px;
  }
  .projects-table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.1859375px;
    
  }
  .projects-table .preview {
    font-size: 12.3958333333px;
    letter-spacing: 0.1859375px;
    line-height: 15.0520833333px;
    padding-right: 61.9791666667px;
  }
}
@media screen and (max-width: 1600px) {
  .toolbar h2 {
    font-size: 33.3333333333px;
  }
  .toolbar .filter {
    padding: 0 16.6666666667px;
  }
  .toolbar .filter .filter-title {
    font-size: 16.6666666667px;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding-right: 8.3333333333px;
  }
  .toolbar .filter .filter-dropdown .dropdown-toggle {
    font-size: 16.6666666667px;
    letter-spacing: 0.25px;
    line-height: 20px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li {
    padding: 4.1666666667px 8.3333333333px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
    border-radius: 4.1666666667px;
    font-size: 12.5px;
  }
  .projects-table thead tr th {
    font-size: 16.6666666667px;
    letter-spacing: 0.25px;
    line-height: 20px;
  }
  .projects-table tbody tr td {
    font-size: 13.6666666667px;
    letter-spacing: 0.175px;
    
  }
  .projects-table .preview {
    font-size: 11.6666666667px;
    letter-spacing: 0.175px;
    line-height: 14.1666666667px;
    padding-right: 58.3333333333px;
  }
}
@media screen and (max-width: 1440px) {
  .toolbar h2 {
    font-size: 30px;
  }
  .toolbar .filter {
    padding: 0 15px;
  }
  .toolbar .filter .filter-title {
    font-size: 15px;
    letter-spacing: 0.225px;
    line-height: 18px;
    padding-right: 7.5px;
  }
  .toolbar .filter .filter-dropdown .dropdown-toggle {
    font-size: 15px;
    letter-spacing: 0.225px;
    line-height: 18px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li {
    padding: 3.75px 7.5px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
    border-radius: 3.75px;
    font-size: 12px;
  }

  .status {
    border-radius: 3.75px;
  }
  .projects-table thead tr th {
    font-size: 15px;
    letter-spacing: 0.225px;
    line-height: 18px;
  }
  .projects-table tbody tr td {
    font-size: 12.5px;
    letter-spacing: 0.1575px;
    
  }
  .projects-table .preview {
    font-size: 10.5px;
    letter-spacing: 0.1575px;
    line-height: 12.75px;
    padding-right: 52.5px;
  }
}
@media screen and (max-width: 1366px) {
  .toolbar h2 {
    font-size: 28.4583333333px;
  }
  .toolbar .filter {
    padding: 0 14.2291666667px;
  }
  .toolbar .filter .filter-title {
    font-size: 14.2291666667px;
    letter-spacing: 0.2134375px;
    line-height: 17.075px;
    padding-right: 7.1145833333px;
  }
  .toolbar .filter .filter-dropdown .dropdown-toggle {
    font-size: 14.2291666667px;
    letter-spacing: 0.2134375px;
    line-height: 17.075px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li {
    padding: 3.5572916667px 7.1145833333px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
    border-radius: 3.5572916667px;
    font-size: 12px;
  }

  .status {
    border-radius: 3.5572916667px;
  }
  
  .projects-table thead tr th {
    font-size: 14.2291666667px;
    letter-spacing: 0.2134375px;
    line-height: 17.075px;
  }
  .projects-table tbody tr td {
    font-size: 11.9604166667px;
    letter-spacing: 0.14940625px;
    
  }
  .projects-table .preview {
    font-size: 9.9604166667px;
    letter-spacing: 0.14940625px;
    line-height: 12.0947916667px;
    padding-right: 49.8020833333px;
  }
}
@media screen and (max-width: 1280px) {
  .toolbar h2 {
    font-size: 26.6666666667px;
  }
  .toolbar .filter {
    padding: 0 13.3333333333px;
  }
  .toolbar .filter .filter-title {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    line-height: 16px;
    padding-right: 6.6666666667px;
  }
  .toolbar .filter .filter-dropdown .dropdown-toggle {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    line-height: 16px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li {
    padding: 3.3333333333px 6.6666666667px;
  }
  .toolbar .filter .filter-dropdown .dropdown-menu li a, .toolbar .filter .filter-dropdown .dropdown-menu li span {
    border-radius: 3.3333333333px;
    font-size: 11.5px;
  }

  .status {
    border-radius: 3.3333333333px;
  }
  
  .projects-table thead tr th {
    font-size: 13.3333333333px;
    letter-spacing: 0.2px;
    line-height: 16px;
  }
  .projects-table tbody tr td {
    font-size: 11.3333333333px;
    letter-spacing: 0.14px;
    
  }
  .projects-table .preview {
    font-size: 9.3333333333px;
    letter-spacing: 0.14px;
    line-height: 11.3333333333px;
    padding-right: 46.6666666667px;
  }
}
@media screen and (max-width: 1200px) {
  .toolbar h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1080px) {
  .toolbar h2 {
    font-size: 22.5px;
  }
}
@media screen and (max-width: 991px) {
  .toolbar h2 {
    font-size: 20.6458333333px;
  }
}
/*Responsive For Project End*/

.breadcrumb {
  background: transparent;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0px;
  padding-top: 20px;
}
.breadcrumb .breadcrumb-item a {
  color: #3CC59F;
  font-size: 20px;
  font-weight: 700;
}
.breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
  color: #00342E;
  font-size: 30px;
  font-weight: 700;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  /*color: #3CC59F;*/
  font-size: 20px;
}
@media screen and (max-width: 1700px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 17.7083333333px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 26.5625px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 17.7083333333px;
  } 
}
@media screen and (max-width: 1600px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 16.6666666667px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 25px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 16.6666666667px;
  }
}
@media screen and (max-width: 1440px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 15px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 22.5px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 15px;
  }
  
}
@media screen and (max-width: 1366px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 14.2291666667px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 21.34375px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 14.2291666667px;
  }
  
}
@media screen and (max-width: 1280px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 13.3333333333px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 20px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 13.3333333333px;
  } 
  
}
@media screen and (max-width: 1280px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 12.5px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 21px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 12.5px;
  }
}
@media screen and (max-width: 1080px) {
  .breadcrumb .breadcrumb-item a {
    font-size: 14px;
  }
  .breadcrumb .breadcrumb-item.active, .breadcrumb .breadcrumb-item.active a {
    font-size: 20px;
  }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    font-size: 14px;
  }
 
}

@media screen and (max-width: 767px) {
  .footer .right, .footer .left{
    text-align: center;
  }

  .breadcrumb {
    justify-content: center;
  }
}

.design-prototype {
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.design-prototype a {
  position: absolute;
  height: 100%;
  width: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(22, 166, 159, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.design-prototype a .icon {
  background-color: #16A69F;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.design-prototype a .icon i {
  color: #fff;
  font-size: 25px;
}
.design-prototype:hover {
  border-radius: 10px;
}
.design-prototype:hover img {
  filter: blur(2px);
}
.design-prototype:hover a {
  width: 100%;
  text-decoration: none;
}
.design-prototype img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.associated-files:hover {
  text-decoration: none;
}
.associated-files:hover .title {
  color: #00342E;
}
.associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
  left: 20px;
  top: 20px;
}
.associated-files .title {
  color: #00342E;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.associated-files .files {
  position: relative;
  /* overflow: hidden; */
  height: 200px;
  margin: 10px 0;
}
.associated-files .files img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  position: absolute;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.associated-files .files img:nth-child(1) {
  display: block;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.associated-files .files img:nth-child(2) {
  display: block;
  z-index: 3;
  top: 0px;
  left: 0px;
}
.associated-files .files img:nth-child(3) {
  display: block;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.files-modal {
  border-radius: 5px;
}
.files-modal .modal-header {
  padding-top: 0;
  padding-bottom: 0;
}
.files-modal .modal-header .total-file {
  margin: 0;
  text-align: center;
  font-size: 25px;
}
.files-modal .modal-body {
  padding: 0;
}
.files-modal .modal-body .files-zone {
  background-color: #F4F4F4;
  padding: 30px 0 50px;
}
.files-modal .modal-body .files-zone .file {
  display: flex;
  padding: 15px 20px;
}
.files-modal .modal-body .files-zone .file .img {
  text-decoration: none;
  position: relative;
}
.files-modal .modal-body .files-zone .file .img:hover .icon {
  height: 40px;
  width: 40px;
}
.files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.files-modal .modal-body .files-zone .file .img svg {
  color: #565656;
}
.files-modal .modal-body .files-zone .file .img .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  width: 0;
  background: #42a69f;
  border-radius: 100%;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.2s;
}
.files-modal .modal-body .files-zone .file .img .icon i {
  color: #fff;
  font-size: 20px;
}
.files-modal .modal-body .files-zone .file .info {
  padding: 0 15px;
}
.files-modal .modal-body .files-zone .file .info .title {
  color: #16A69F;
  font-size: 13px;
  font-weight: 600;
}
.files-modal .modal-body .files-zone .file .info .size {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.files-modal .modal-body .upload-zone {
  background-color: #1DEFB5;
  margin: 20px 30px;
  border: 1px dashed #979797;
  cursor: pointer;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

/*Responsive For Project Start*/
@media screen and (max-width: 1700px) {
  .design-prototype a .icon {
    width: 53.125px;
    height: 53.125px;
  }
  .design-prototype a .icon i {
    font-size: 22.1354166667px;
  }
  .design-prototype:hover {
    border-radius: 8.8541666667px;
  }
  .associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
    left: 17.7083333333px;
    top: 17.7083333333px;
  }
  .associated-files .title {
    font-size: 17.7083333333px;
  }
  .associated-files .files {
    height: 177.0833333333px;
    margin: 8.8541666667px 0;
  }
  .associated-files .files img {
    height: 106.25px;
    width: 106.25px;
  }
  .associated-files .files img:nth-child(1) {
    top: 17.7083333333px;
    left: 17.7083333333px;
  }
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  .associated-files .files img:nth-child(3) {
    top: 35.4166666667px;
    left: 35.4166666667px;
  }

  .files-modal .modal-header .total-file {
    font-size: 22.1354166667px;
  }
  .files-modal .modal-body .files-zone {
    padding: 26.5625px 0 44.2708333333px;
  }
  .files-modal .modal-body .files-zone .file {
    padding: 13.28125px 17.7083333333px;
  }
  .files-modal .modal-body .files-zone .file .img:hover .icon {
    height: 35.4166666667px;
    width: 35.4166666667px;
  }
  .files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
    width: 88.5416666667px;
    height: 88.5416666667px;
  }
  .files-modal .modal-body .files-zone .file .img .icon i {
    font-size: 17.7083333333px;
  }
  .files-modal .modal-body .files-zone .file .info {
    padding: 0 13.28125px;
  }
  .files-modal .modal-body .upload-zone {
    margin: 17.7083333333px 26.5625px;
    padding: 26.5625px;
  }
}
@media screen and (max-width: 1600px) {

  .design-prototype a .icon {
    width: 50px;
    height: 50px;
  }
  .design-prototype a .icon i {
    font-size: 20.8333333333px;
  }
  .design-prototype:hover {
    border-radius: 8.3333333333px;
  }
  .associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
    left: 16.6666666667px;
    top: 16.6666666667px;
  }
  .associated-files .title {
    font-size: 16.6666666667px;
  }
  .associated-files .files {
    height: 166.6666666667px;
    margin: 8.3333333333px 0;
  }
  .associated-files .files img {
    height: 100px;
    width: 100px;
  }
  .associated-files .files img:nth-child(1) {
    top: 16.6666666667px;
    left: 16.6666666667px;
  }
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  .associated-files .files img:nth-child(3) {
    top: 33.3333333333px;
    left: 33.3333333333px;
  }

  .files-modal .modal-header .total-file {
    font-size: 20.8333333333px;
  }
  .files-modal .modal-body .files-zone {
    padding: 25px 0 41.6666666667px;
  }
  .files-modal .modal-body .files-zone .file {
    padding: 12.5px 16.6666666667px;
  }
  .files-modal .modal-body .files-zone .file .img:hover .icon {
    height: 33.3333333333px;
    width: 33.3333333333px;
  }
  .files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
    width: 83.3333333333px;
    height: 83.3333333333px;
  }
  .files-modal .modal-body .files-zone .file .img .icon i {
    font-size: 16.6666666667px;
  }
  .files-modal .modal-body .files-zone .file .info {
    padding: 0 12.5px;
  }
  .files-modal .modal-body .upload-zone {
    margin: 16.6666666667px 25px;
    padding: 25px;
  }
}
@media screen and (max-width: 1440px) {

  .design-prototype a .icon {
    width: 45px;
    height: 45px;
  }
  .design-prototype a .icon i {
    font-size: 18.75px;
  }
  .design-prototype:hover {
    border-radius: 7.5px;
  }
  .associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
    left: 15px;
    top: 15px;
  }
  .associated-files .title {
    font-size: 15px;
  }
  .associated-files .files {
    height: 150px;
    margin: 7.5px 0;
  }
  .associated-files .files img {
    height: 90px;
    width: 90px;
  }
  .associated-files .files img:nth-child(1) {
    top: 15px;
    left: 15px;
  }
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  .associated-files .files img:nth-child(3) {
    top: 30px;
    left: 30px;
  }

  .files-modal .modal-header .total-file {
    font-size: 18.75px;
  }
  .files-modal .modal-body .files-zone {
    padding: 22.5px 0 37.5px;
  }
  .files-modal .modal-body .files-zone .file {
    padding: 11.25px 15px;
  }
  .files-modal .modal-body .files-zone .file .img:hover .icon {
    height: 30px;
    width: 30px;
  }
  .files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
    width: 75px;
    height: 75px;
  }
  .files-modal .modal-body .files-zone .file .img .icon i {
    font-size: 15px;
  }
  .files-modal .modal-body .files-zone .file .info {
    padding: 0 11.25px;
  }
  .files-modal .modal-body .upload-zone {
    margin: 15px 22.5px;
    padding: 22.5px;
  }
}
@media screen and (max-width: 1366px) {

  .design-prototype a .icon {
    width: 42.6875px;
    height: 42.6875px;
  }
  .design-prototype a .icon i {
    font-size: 17.7864583333px;
  }
  .design-prototype:hover {
    border-radius: 7.1145833333px;
  }
  .associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
    left: 14.2291666667px;
    top: 14.2291666667px;
  }
  .associated-files .title {
    font-size: 14.2291666667px;
  }
  .associated-files .files {
    height: 142.2916666667px;
    margin: 7.1145833333px 0;
  }
  .associated-files .files img {
    height: 85.375px;
    width: 85.375px;
  }
  .associated-files .files img:nth-child(1) {
    top: 14.2291666667px;
    left: 14.2291666667px;
  }
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  .associated-files .files img:nth-child(3) {
    top: 28.4583333333px;
    left: 28.4583333333px;
  }

  .files-modal .modal-header .total-file {
    font-size: 17.7864583333px;
  }
  .files-modal .modal-body .files-zone {
    padding: 21.34375px 0 35.5729166667px;
  }
  .files-modal .modal-body .files-zone .file {
    padding: 10.671875px 14.2291666667px;
  }
  .files-modal .modal-body .files-zone .file .img:hover .icon {
    height: 28.4583333333px;
    width: 28.4583333333px;
  }
  .files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
    width: 71.1458333333px;
    height: 71.1458333333px;
  }
  .files-modal .modal-body .files-zone .file .img .icon i {
    font-size: 14.2291666667px;
  }
  .files-modal .modal-body .files-zone .file .info {
    padding: 0 10.671875px;
  }
  .files-modal .modal-body .upload-zone {
    margin: 14.2291666667px 21.34375px;
    padding: 21.34375px;
  }
}
@media screen and (max-width: 1280px) {
  .design-prototype a .icon {
    width: 40px;
    height: 40px;
  }
  .design-prototype a .icon i {
    font-size: 16.6666666667px;
  }
  .design-prototype:hover {
    border-radius: 6.6666666667px;
  }
  .associated-files:hover .files img:nth-child(1), .associated-files:hover .files img:nth-child(2), .associated-files:hover .files img:nth-child(3) {
    left: 13.3333333333px;
    top: 13.3333333333px;
  }
  .associated-files .title {
    font-size: 13.3333333333px;
  }
  .associated-files .files {
    height: 133.3333333333px;
    margin: 6.6666666667px 0;
  }
  .associated-files .files img {
    height: 80px;
    width: 80px;
  }
  .associated-files .files img:nth-child(1) {
    top: 13.3333333333px;
    left: 13.3333333333px;
  }
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
  .associated-files .files img:nth-child(3) {
    top: 26.6666666667px;
    left: 26.6666666667px;
  }

  .files-modal .modal-header .total-file {
    font-size: 16.6666666667px;
  }
  .files-modal .modal-body .files-zone {
    padding: 20px 0 33.3333333333px;
  }
  .files-modal .modal-body .files-zone .file {
    padding: 10px 13.3333333333px;
  }
  .files-modal .modal-body .files-zone .file .img:hover .icon {
    height: 26.6666666667px;
    width: 26.6666666667px;
  }
  .files-modal .modal-body .files-zone .file .img img, .files-modal .modal-body .files-zone .file .img svg {
    width: 66.6666666667px;
    height: 66.6666666667px;
  }
  .files-modal .modal-body .files-zone .file .img .icon i {
    font-size: 13.3333333333px;
  }
  .files-modal .modal-body .files-zone .file .info {
    padding: 0 10px;
  }
  .files-modal .modal-body .upload-zone {
    margin: 13.3333333333px 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 1080px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 991px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 575px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 414px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 375px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .associated-files .files img:nth-child(2) {
    top: 0px;
    left: 0px;
  }
}
/*Responsive For Project End*/
/*Log page end*/
/*Design page start*/
.versiongroup_container .versiongroup{
  width: 100%;
}
.versiongroup_container .versiongroup .version-header {
  display: flex;
  padding-bottom: 15px;  
  border-bottom: 2px solid #c7c7c7
}
.versiongroup_container .versiongroup .version-header h3{
  color: #565656;
  font-weight: 900;
  font-size: 20px;
}

.versiongroup_container .versiongroup .version-img{
  padding-top:25px;
}
.versiongroup_container .versiongroup .version-img img{
  object-position: top;
  object-fit: cover;
  width:100%;
  max-width: 250px;
  max-height: 312.5px;
}

.versiongroup_container .version-li-list {
  padding-left: 0;
  padding-right: 0;
}
.versiongroup_container .list-group-flush .list-group-item {
  border: 0;
  display: flex;
  background-color: #EDEDED;
}
.versiongroup_container .list-group-flush .list-group-item .version_container {
  position: relative;
  display: block;
  text-decoration: none;
}
.versiongroup_container .list-group-flush .list-group-item .version_container .associated-files .files {
  opacity: 1;
  width: 300px;
  height: 270px;
}
.versiongroup_container .list-group-flush .list-group-item .version_container .associated-files .files img {
  width: 260px;
  height: 230px;
}
.versiongroup_container .list-group-flush .list-group-item .version_container .approved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 166, 159, 0.4);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.versiongroup_container .list-group-flush .list-group-item .version_container .approved .icon {
  color: #FFFFFF;
  font-size: 70px;
}
.versiongroup_container .list-group-flush .list-group-item .version_container .approved .text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.versiongroup_container .list-group-flush .list-group-item .version-buttons {
  padding-top: 10px;
  width: 260px;
  margin: 0 auto;
}
.versiongroup_container .list-group-flush .list-group-item .version-buttons .btn {
  font-size: 1rem;
}
.versiongroup_container .list-group-flush .list-group-item .upload-files {
  border: 1px dashed #979797;
  width: 235px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-decoration: none;
}
.versiongroup_container .list-group-flush .list-group-item .upload-files .text {
  color: #B1B1B1;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.versiongroup_container .list-group-flush .list-group-item .upload-files .icon {
  color: #16A69F;
  font-size: 80px;
  font-weight: 600;
  line-height: 96px;
}



@media screen and (max-width: 1366px) {
  .versiongroup_container .list-group-flush {
    grid-gap: 7.1145833333px;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  
  
}

@media screen and (max-width: 575px) {
  .versiongroup_container .list-group-flush {
    grid-template-columns: 1fr;
  }
}
/*Responsive For Project End*/
/*Design page end*/
/*Auth page start*/
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(81vh);
}
@media screen and (max-width: 1700px){
  .auth-wrapper {
    min-height: calc(100vh - 196px);
  }
}
@media screen and (max-width: 1600px){
  .auth-wrapper {
    min-height: calc(100vh - 192px);
  }
}

@media screen and (max-width: 1366px){
  .auth-wrapper {
    min-height: calc(100vh - 180px);
  }
}

@media screen and (max-width: 1200px){
  .auth-wrapper {
    min-height: calc(100vh - 175px);
  }
}

@media screen and (max-width: 1080px){
  .auth-wrapper {
    min-height: calc(100vh - 45px);
  }
}
@media screen and (max-width: 991px){
  .auth-wrapper {
    min-height: calc(100vh - 61px);
  }
}

#content.auth-wrapper.full-height {
  align-items: initial;
  padding-top: 0;
  padding-bottom: 0;
}
.auth-wrapper .flex-1 {
  flex: 1;
}
.auth-wrapper .illustration-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-wrapper .illustration-image-wrapper img {
  width: 100%;
}
.auth-wrapper .auth-panel {
  border: 20px solid #ebf7f6;
  padding: 20px;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.auth-wrapper.full-height .auth-panel {
  border: 0;
  
}
.auth-wrapper .auth-panel .logo{
  width: 100%;
  height: auto;
  margin: 0 auto 50px;
  height: 60px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  /*max-width: 300px;*/
}
.auth-wrapper .auth-panel .logo img{
  height: 100%;
}
.auth-wrapper .auth-panel .logo .text{
  color: #0f342e;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Gothic A1';
  user-select: none;
  margin-left: 40px;

}
.auth-wrapper .auth-panel .logo .text .bold{
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
}
.auth-wrapper .auth-panel .logo .text .thin{
  font-size: 15px;
  line-height: 13px;
}
.auth-wrapper .auth-panel.version-colorful-alpha {
  color: #919191;
  font-size: 12px;
}
.auth-wrapper .auth-panel.version-colorful-alpha .bold{
  color: #0f342e;
  text-transform: uppercase;
  font-weight: 900
}
.auth-wrapper .auth-panel.version-colorful-alpha a{
  color: #6bc0a9;
  text-decoration: underline;
}

@media only screen and (max-width: 1366px) {
  .auth-wrapper .auth-panel .logo .text{
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .auth-wrapper .auth-panel .logo .text{
    margin-left: 15px;
  }
  .auth-wrapper .auth-panel .logo .text .bold{
    font-size: 20px;
    line-height: 25px;
  }
  .auth-wrapper .auth-panel .logo .text .thin{
    font-size: 12px;
    line-height: 9px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .auth-wrapper .auth-panel .logo {
    height: 50px;
  }
  .auth-wrapper .auth-panel .logo .text .bold{
    font-size: 21px;
    line-height: 24px;
  }
  .auth-wrapper .auth-panel .logo .text .thin{
    font-size: 11px;
    line-height: 8px;
  }
}
@media only screen and (max-width: 380px) {
  .auth-wrapper .auth-panel .logo {
    height: 50px;
  }
  .auth-wrapper .auth-panel .logo .text .bold{
    font-size: 21px;
    line-height: 24px;
  }
  .auth-wrapper .auth-panel .logo .text .thin{
    font-size: 11px;
    line-height: 8px;
  }
}

.auth-wrapper .auth-panel.version-colorful-alpha .col-form-label{
  display: none
}
.auth-wrapper .auth-panel.version-colorful-alpha input[type="text"],.auth-wrapper .auth-panel.version-colorful-alpha input[type="search"],.auth-wrapper .auth-panel.version-colorful-alpha input[type="number"],.auth-wrapper .auth-panel.version-colorful-alpha input[type="password"],.auth-wrapper .auth-panel.version-colorful-alpha textarea{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(161, 161, 161, .5);
    border-radius: 0;
    padding-left: 0;

    font-size: 12px;
}
.auth-wrapper .auth-panel.version-colorful-alpha input[type="text"]:focus,.auth-wrapper .auth-panel.version-colorful-alpha input[type="search"]:focus,.auth-wrapper .auth-panel.version-colorful-alpha input[type="number"]:focus,.auth-wrapper .auth-panel.version-colorful-alpha input[type="password"]:focus,.auth-wrapper .auth-panel.version-colorful-alpha textarea:focus{
    border-bottom: 1px solid rgba(161, 161, 161, 1);
    outline: 0;
    box-shadow: none;
}
.resetpw {
  padding-top: 10px;
  text-align: right;
}

input[type="checkbox"].techup-checkbox{
  display: none;
}
input[type="checkbox"].techup-checkbox + .visual-checkbox {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #1db874;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;   
   margin-right: 5px;
}
.form-check input[type="checkbox"].techup-checkbox + .visual-checkbox {
    margin-left: -1.25rem;
}
input[type="checkbox"].techup-checkbox + .visual-checkbox .fa-check{
  opacity: 0;
  color: #10352f;
  font-size: 12px;
}

input[type="checkbox"].techup-checkbox:checked + .visual-checkbox {
  background-color: #68f0b5
}
input[type="checkbox"].techup-checkbox:checked + .visual-checkbox .fa-check{
  opacity: 1
}


@media only screen and (max-width: 767px) {
  .auth-wrapper .illustration-image-wrapper {
    margin-bottom: 50px;
  }
  .auth-wrapper .illustration-image-wrapper img {
    width: 60%;
  }
  
  .auth-wrapper .auth-panel.version-colorful-alpha {
    width: 80%;
    margin: 0 auto 20px;
  }
}
/*Auth page end*/

/*# sourceMappingURL=styles.css.map */

/* Pop up to create email*/
.popup-label {
  float:left;
  margin-top: .5rem;
}
.popup-input {
  width: 70%;
  float:right;
}
/* buttons */
.btn-danger {
  padding: .1rem .3rem;
}